* {
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}
body {
  background-color: var(--color-bg);
}

a {
  color: unset;
  text-decoration: none;
}

.divider {
  max-width: 3000px;
    height: 9px;
    background-color: rgb(151, 125, 185);
    margin: 10px 0;
}