@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

:root {
  --font-family: 'Roboto', sans-serif;

  /* colors */
  --color-white: "#fffff";
  --color-black: "040C18";
  --color-bg-main: rgb(151, 125, 185);
}